*,
*::after,
*::before {
  box-sizing: border-box;
  background: #24292e;
  color: #caccce;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.logs {
  display: flex;
  position: sticky;
  top: 30px;
  padding: 0 1em;
  gap: 20px;
  /* max-height: 100vh; */
}

.logs > .log_step {
  flex-basis: 20%;
  position: sticky;
  top: 0;
  background: hsl(210, 13%, 8%);
  padding: 1rem;
  align-self: flex-start;
}

.log_step > div {
  margin: 10px;
  background: initial;
}

.logs > .log_container {
  flex-basis: 80%;
}

.log_container > .header {
  display: flex;
  position: sticky;
  z-index: 1;
  align-items: center;
  width: 95%;
  top: 0;
  background: hsl(207, 21%, 10%);
  padding: 0.5em;
  justify-content: space-around;
}

.header .log_form button,
.header .log_form input {
  padding: 1em;
  margin-left: 0.5em;
}

.log_container > .header > * {
  background: inherit;
}

.log_container .log_inner_container {
  position: relative;
}

.log_container .log {
  display: block;
  width: 95%;
  cursor: pointer;
  padding: 0.5em;
  /* z-index: 1; */
}

.log_container .log[open] {
  /* position: sticky;
  top: 5rem; */
  z-index: 0;
}

.log_container .log_summary {
  background: hsl(207, 21%, 10%);
  font-weight: bold;
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 0 10px 6px -6px hsl(207, 21%, 10%);
}

.log_container .log[open] .log_summary {
  position: sticky;
  top: 3.8em;
}

.log_container .log_description {
  padding-top: 0.5em;
  padding-left: 1.5em;
  display: none;
}

.log_container .log[open] .log_description {
  display: block;
}

.log_container .log[open] .log_description .log_line {
  width: 90%;
  border: 1px;
  margin-top: 10px;
}
